<div class="col-xs-12">
    <div class="jumbotron text-center">
        <h1 ng-show="vm.task.taskID == null">Add Task</h1>
        <h1 ng-show="vm.task.taskID != null">Edit Task</h1>
    </div>
    <form name="taskForm">
        <div class="form-group">
            <div class="form-group col-sm-8">
                <label for="name">Task Name</label>
                <span ng-show="taskForm.name.$dirty && taskForm.name.$invalid" style="color: #FF0000;">
                    * Invalid task name. Use letters, numbers, spaces, and ( ) - _ symbols
                </span>
                <input name="name" class="form-control" required placeholder="Enter task name"
                ng-model="vm.task.taskName" autofocus
                required ng-pattern="/^[a-zA-z0-9\(\)\-_]+( +[a-zA-z0-9\(\)\-_]+)*$/">
            </div>
            <div class="form-group col-sm-2">
                <label for="duedate">Due Date</label>
                <span ng-show="taskForm.duedate.$dirty && taskForm.duedate.$invalid" style="color: #FF0000;">
                    * Required
                </span>
                <input name="duedate" class="form-control" type="date"
                ng-model="vm.day"
                required>
            </div>
            <div class="form-group col-sm-2">
                <label for="duetime">Due Time</label>
                <span ng-show="taskForm.duetime.$dirty && taskForm.duetime.$invalid" style="color: #FF0000;">
                    * Required
                </span>
                <input name="duetime" class="form-control" type="time"
                ng-model="vm.time"
                required>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-lg btn-block" 
                ng-class="taskForm.$dirty && taskForm.$valid ? 'btn-success' : 'btn-disabled disabled'"
                ng-click="taskForm.$dirty && taskForm.$valid && save()">
                <span class="glyphicon glyphicon-pushpin"></span>
                Save
            </button>
        </div>
        <div class="form-group">
            <a href="#/list/{{vm.task.listID}}" class="btn btn-lg btn-block btn-default">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
            </a>
        </div>
    </form>
</div>
