<!--
<!DOCTYPE html>
<html>
<head>
<title>To-Do List</title>
<link rel="stylesheet" type="text/css" href="site.css">
</head>
<body>
-->
<div class="col-xs-12 col-sm-offset-5 col-sm-4">

<h1>To-Do List</h1>

<form>
<input type="email" name="email" placeholder="Email" required>
  
<input type="password" name="password" placeholder="Password" required>
  
<a href="#"><div id="btn1"><button type="button">Sign In</button></div></a> <!-- End Btn -->

    <a href="/signup"><div id="btn2"><button type="button">Sign Up</button></div></a> <!-- End Btn2 -->
</form>

<p>Forgot your password? <a href="#"><div id="btn3"><button type="button">Click Here!</button></div></u></p>

</div>
<!--
</body>
</html>
-->
