<h2>Please create a new password here!</h2>

<form method="post" action="">

<!--Ensure the currentpassword is needed. If a person is resetting there passworkd the beloew is good, if they forgot the password the current password would not be useful. -->
<label for="currentPassword">Current Password:</label> 
<input type="password" id="currentPassword" name="currentPassword" title="Current password" /><br>

<label for="newPassword">New Password:</label> 
<input type="password" id="newPassword" name="newPassword" title="New password" /><br>

<label for="confirmPassword">Confirm Password:</label> 
<input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" /><br>

<p class="form-actions">
<input type="submit" value="Change Password" title="Change password" />
</p>

</form>
