<!--
 <!DOCTYPE html>
<html>
    <head>
        <title>Sign up Page</title>
        <link rel= "stylesheet" type = "text/css" href = "style.css"/>
    </head>
    <body>
-->    
<div class="col-xs-12 col-sm-offset-4 col-sm-4">
    <div id = "header">
        <h1>Create an Account.</h1>
    </div>
    <div id = "main">
        <p>Required fields are marked with an asterisk (*)</p>
        <form action="" name="signupForm">
            <div class="form-group">
                <div class="form-group">
                    <label for="username">* Username:</label>
                    <span ng-show="signupForm.username.$dirty && signupForm.username.$invalid"
                        style="color: #FF0000;">
                        * 4+ Letters, numbers, and underscore
                    </span>
                    <input type ="text" name ="username" class="form-control" required placeholder="Username"
                        ng-model="vm.newUser.userName" ng-pattern="/^[a-zA-z0-9_]{4,}$/">
                </div>

                <div class="form-group">
                    <label for="email">* Email:</label>
                    <span ng-show="signupForm.email.$dirty && signupForm.email.$invalid"
                        style="color: #FF0000;">
                        * Invalid email
                    </span>
                    <input type ="text" name ="email" class="form-control" required placeholder="Email"
                        ng-model="vm.newUser.email" ng-pattern="/^[^@\s]+@[^@\s]+$/">
                        <!-- 1 or more non-whitespace char, then @, then another non-whitespace char -->
                </div>

                <div class="form-group">
                    <label for="pass1">* Password:</label>
                    <span ng-show="signupForm.pass1.$dirty && signupForm.pass1.$invalid"
                        style="color: #FF0000;">
                        * 7+ Letters, numbers, and symbols
                    </span>
                    <input type ="password" name ="pass1" class="form-control" required placeholder="Password"
                        ng-model="vm.newUser.password" ng-pattern="/^[\S]{7,}$/">
                </div>

                <div class="form-group">
                    <label for="pass2">* Repeat Password:</label>
                    <span ng-show="signupForm.pass1.$dirty && signupForm.pass2.$dirty &&
                        vm.newUser.password != vm.newUser.passwordConfirm" style="color: #FF0000;">
                        * Passwords must match
                    </span>
                    <input type ="password" name ="pass2" class="form-control" required placeholder="Repeat Password"
                        ng-model="vm.newUser.passwordConfirm">
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn" 
                    ng-class="signupForm.$dirty && signupForm.$valid  &&
                    vm.newUser.password == vm.newUser.passwordConfirm ? 'btn-primary' : 'btn-disabled disabled'"
                    ng-click="signupForm.$dirty && signupForm.$valid  &&
                    vm.newUser.password == vm.newUser.passwordConfirm && save()">
                    Create Account
                </button>
            </div>
        </form>
    </div>
</div>
<!--    
    </body>
</html>
-->
